# Build Artifacts
obj/
bin/

# Production settings
appsettings.Production.json

# Sqlite database files.
**/*.db

# Editor Configuration
.vscode/**

# The development certificate for Identity Server
certificate.pfx
