# Build Artifacts
obj/
bin/

# Settings file dependent to user.
appsettings.Database.json
appsettings.Domain.json
appsettings.IdentitySecrets.json

# Sqlite database files.
**/*.db

# Editor Configuration
.vscode/**

# The development certificate for Identity Server
certificate.pfx
