<div class="burst-container-fluid bg-secondary" *ngIf="server">

    <burst-card>

        <burst-card-body>

            <burst-edit-server-info [server]="server"></burst-edit-server-info>

        </burst-card-body>

        <burst-card-body>

            <burst-edit-server-channels [server]="server"></burst-edit-server-channels>

        </burst-card-body>

        <burst-card-body>

            <burst-edit-server-users [server]="server"></burst-edit-server-users>

        </burst-card-body>

    </burst-card>

</div>
