@import '../../../../../scss/theme';

.burst-card {
    background-color: $secondary-color;
    border-radius: 0;
    -webkit-box-shadow: 12px 12px 5px -5px rgba(0, 0, 0, 0.5);
    -mox-box-shadow: 12px 12px 5px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 12px 12px 5px -5px rgba(0, 0, 0, 0.5);
    width: inherit;
    max-width: inherit;
    min-width: inherit;
}
