<div class="burst-container-fluid bg-secondary" *ngIf="server">

    <app-card>

        <app-card-body>

            <div class="row">

                <div class="column">

                    {{server.name}} <span class="text-muted">#{{server.id}} <small class="text-muted">Created at
                            {{server.dateCreated | date}}</small></span>

                </div>

            </div>

        </app-card-body>

        <app-card-body>

            <app-edit-server-channels></app-edit-server-channels>

        </app-card-body>

        <app-card-body>

            <app-edit-server-users></app-edit-server-users>

        </app-card-body>

    </app-card>

</div>