@import '../../../../../scss/theme';

.sidebar {
    position: fixed !important;
    overflow: auto;
    height: 100%;
    width: $sidebar-width;
    transform: translateX(0);
    z-index: $z-level-1;
    background-color: $secondary-color;
    -webkit-transition: transform $layout-animation-speed;
    transition: transform $layout-animation-speed;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
    -mox-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
}

.sidebar-hidden {
    transform: translateX(calc($sidebar-width * -1));
}

.sidebar-header {
    position: fixed !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
}

.sidebar-logo {
    text-align: center;
    font-size: 22px;
    background-color: $accent-color;
    height: 55px;
    width: $minor-width;
    padding-top: 10px;
}

.sidebar-user-info {
    flex-grow: 12;
}

.sidebar-content {
    height: 100%;
    padding-top: 55px;
    display: flex;
    flex-direction: row;
}

.sidebar-servers {
    background-color: $dark-color;
    height: 100%;
    width: $minor-width;
}

.sidebar-channels {
    flex-grow: 9;
}
