<div id="sidebar" class="sidebar">

    <div class="sidebar-header fixed-top">

        <div class="sidebar-user-info">

          <app-sidebar-user-info></app-sidebar-user-info>

        </div>

    </div>

    <div class="sidebar-content">

        <div class="sidebar-servers">

            <app-server-list></app-server-list>

        </div>

        <div class="sidebar-lists">


            <app-channel-list></app-channel-list>

            <app-user-list></app-user-list>

        </div>

    </div>

</div>
