@import '../../../../../scss/theme';

.sidebar {
    position: fixed !important;
    overflow: hidden;
    height: 100%;
    width: $sidebar-width;
    transform: translateX(0);
    z-index: $z-level-1;
    background-color: $secondary-color;
    border-right: 1px solid $dark-color;
    -webkit-transition: transform $layout-animation-speed;
    transition: transform $layout-animation-speed;
}

.sidebar-hidden {
    transform: translateX(calc($sidebar-width * -1));
}

.sidebar-header {
    position: fixed !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
}

.sidebar-logo {
    text-align: center;
    font-size: 22px;
    background-color: $accent-color;
    height: 55px;
    width: $minor-width;
    padding-top: 10px;
}

.sidebar-user-info {
    flex-grow: 12;
}

.sidebar-content {
    height: 100%;
    padding-top: $minor-height;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.sidebar-servers {
    background-color: $dark-color;
    height: 100%;
    width: $minor-width;
    overflow: hidden;
}

.sidebar-lists {
    flex-grow: 9;
    overflow-y: auto !important;
}