<div class="shimmer-list">
    <div class="shimmer-entry pb-10">
        @if(showIcon) {
            <div class="icon shimmer"></div>
        }
        <div class="pl-10">
            <div class="line shimmer"></div>
            @if(showSmallLines) {
                <div class="small-line shimmer"></div>
            }
        </div>
    </div>
    <div class="shimmer-entry pb-10">
        @if(showIcon) {
            <div class="icon shimmer"></div>
        }
        <div class="pl-10">
            <div class="line shimmer"></div>
            @if(showSmallLines) {
                <div class="small-line shimmer"></div>
            }
        </div>
    </div>
    <br>
    <div class="shimmer-entry pb-10">
        @if(showIcon) {
            <div class="icon shimmer"></div>
        }
        <div class="pl-10">
            <div class="line shimmer"></div>
            @if(showSmallLines) {
                <div class="small-line shimmer"></div>
            }
        </div>
    </div>
</div>
