<div class="shimmer-list">

    <div class="shimmer-entry pb-10">

        <div class="icon shimmer" *ngIf="showIcon"></div>

        <div class="pl-10">

            <div class="line shimmer"></div>

            <div class="small-line shimmer" *ngIf="showSmallLines"></div>

        </div>

    </div>

    <div class="shimmer-entry pb-10">

        <div class="icon shimmer" *ngIf="showIcon"></div>

        <div class="pl-10">

            <div class="line shimmer"></div>

            <div class="small-line shimmer" *ngIf="showSmallLines"></div>

        </div>

    </div>

    <br>

    <div class="shimmer-entry pb-10">

        <div class="icon shimmer" *ngIf="showIcon"></div>

        <div class="pl-10">

            <div class="line shimmer"></div>

            <div class="small-line shimmer" *ngIf="showSmallLines"></div>

        </div>

    </div>

</div>