/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Titillium+Web&display=swap';
@import 'theme';
@import 'buttons';

html,
body {
    height: 100%;
    background-color: $primary-color;
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
    color: $text-color;
    margin: 0 0 0 0;
}