$primary-color: #2d303f;
$secondary-color: #1c1f28;
$dark-color: #171921;
$accent-color: #9b4dca;
$accent-light-color: #bc5df7;

$text-color: white;
$text-muted-color: #777777;

$sidebar-width: 330px;
$layout-animation-speed: 0.4s;

$chat-input-height: 88px;

$z-level-1: 1000;
$z-level-2: 2000;
$z-level-3: 3000;

input {
    background-color: $primary-color;
    color: white;
    border-color: transparent;
}

input:disabled {
    color: $text-muted-color;
}

textarea {
    background-color: $primary-color;
    color: white;
    border-color: white;
}

blockquote {
    background-color: $secondary-color;
    border: 1px solid $dark-color;
    border-left: 2px solid $accent-color;
    padding-right: 5px;
    margin: 5px 0 0 0;
}

.burst-container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    padding-bottom: 95px;
}

.button-icon {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    width: 48px !important;
}

.button-icon-lg {
    @extend .button-icon;
    font-size: 26px;
}

.text-muted {
    color: $text-muted-color;
}

.text-center {
    text-align: center;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.ml-auto {
    margin-left: auto !important;
}

.column-5 {
    flex: 0 0 5%;
    max-width: 5%;
}

.column-95 {
    flex: 0 0 95%;
    max-width: 95%;
}

.entity-list {
    background-color: $dark-color;
    height: 400px;
    overflow-y: scroll;
}

.entity {
    border-bottom: 1px solid $secondary-color;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
