$primary-color: #2d303f;
$secondary-color: #1c1f28;
$dark-color: #171921;
$accent-color: #9b4dca;
$accent-light-color: #bc5df7;

$text-color: white;
$text-muted-color: #777777;

$sidebar-width: 330px;
$layout-animation-speed: 0.4s;

$chat-input-height: 88px;

input {
    background-color: $primary-color;
    color: white;
    border-color: transparent;
}

input:disabled {
    color: $text-muted-color;
}

textarea {
    background-color: $primary-color;
    color: white;
    border-color: white;
}

blockquote {
    background-color: $dark-color;
    border-left-color: $accent-color;
}

.text-muted {
    color: $text-muted-color;
}

.text-center {
    text-align: center;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.column-5 {
    flex: 0 0 5%;
    max-width: 5%;
}

.column-95 {
    flex: 0 0 95%;
    max-width: 95%;
}

