<div class="chat-call-container bg-dark">

    <div class="chat-call-loading my-auto" *ngIf="!sessionConfirmed">

        <div class="chat-call-loading-dot my-auto">

            <div class="fs-20">Calling, please wait</div>

            <div class="loading-dots text-center">

                <div class="loading-dots--dot"></div>

                <div class="loading-dots--dot"></div>

                <div class="loading-dots--dot"></div>

            </div>

        </div>

    </div>

   <div class="chat-call-users" *ngIf="sessionConfirmed">

        <div class="pr-5 pl-5 pt-5 pb-5" *ngFor="let user of users">

            <div class="text-center">

                <fa-icon class="chat-call-user text-accent" [icon]="userIcon"></fa-icon>

            </div>

            <div class="text-center">

                {{user.name}}

            </div>

        </div>

   </div>

   <div class="chat-call-actions pr-10 pl-10 pt-10 pb-10">

        <div class="button-icon-interactive button-icon-lg bg-secondary" (click)="onHangup()">

            <fa-icon [icon]="hangupIcon"></fa-icon>

        </div>

   </div>

</div>
