<div class="chat-call-container">

    <div class="chat-call-loading my-auto" *ngIf="state === 'waiting'">

        <div class="chat-call-loading-dot my-auto">

            <div class="fs-20">Calling, please wait</div>

            <div class="loading-dots text-center">

                <div class="loading-dots--dot"></div>

                <div class="loading-dots--dot"></div>

                <div class="loading-dots--dot"></div>

            </div>

        </div>

    </div>

   <div class="chat-call-users" *ngIf="state === 'confirmed'">

        <div class="pr-20 pl-20 pt-5 pb-5 mx-auto my-auto" *ngFor="let user of users">

            <app-card>

                <app-card-header>

                    <div class="text-center">

                        <app-avatar [name]="user.name" [avatar]="user.avatar" size="xlg"></app-avatar>

                    </div>

                </app-card-header>

                <app-card-body>

                    <div class="text-center">

                        {{user.name}}

                    </div>

                </app-card-body>

            </app-card>

        </div>

   </div>

   <div class="chat-call-actions pr-10 pl-10 pt-10 pb-10">

        <div class="button-icon-interactive button-icon-lg" (click)="onHangup()"
            *ngIf="state === 'waiting' || state === 'confirmed'">

            <fa-icon [icon]="icons['hangup']"></fa-icon>

        </div>

   </div>

</div>
