<div class="row">
    <div class="column column-100">
        <h4>Users</h4>
    </div>
</div>
<div class="row">
    <div class="column column-80">
        <input type="text" placeholder="Name" [(ngModel)]="newUserName">
    </div>
    <div class="column column-20">
        <button class="button w-100" (click)="onInvite()">INVITE</button>
    </div>
</div>
<div class="row">
    <div class="column column-100">
        <div class="entity-list">
            @for(user of users(); track user.id) {
                <div class="entity">
                    <div>
                        {{user.name}} <span class="text-muted">#{{user.id}}</span>
                    </div>
                    <div class="ml-auto">
                        <button class="button button-clear" (click)="onDeleteUser(user)">DELETE</button>
                    </div>
                </div>
            } @empty {
                <div class="text-muted">
                    <span class="text-muted">Could not load users of server.</span>
                </div>
            }
        </div>
    </div>
</div>
