@import '../../../../../scss/theme';

.ongoing-call-container {
    height: $minor-height;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    align-items: center;
}

.ongoing-call-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ongoing-call-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}
