<app-dialog [visible]="dialogVisible">

    <app-card *ngIf="user">

        <app-card-header>

            <div class="avatar">

                <app-avatar [name]="user.name" [avatar]="user.avatar" size="xlg"></app-avatar>

            </div>

        </app-card-header>

        <app-card-body>

            <div class="dialog-size">

                <div class="row">

                    <div class="column text-center">

                        {{user.name}} is calling...

                    </div>

                </div>

                <br>

                <br>

                <div class="row">

                    <div class="column column-50">

                        <button class="button btn-success w-100 fs-16" (click)="onAnswer()">

                            <fa-icon [icon]="answerIcon"></fa-icon>

                        </button>

                    </div>

                    <div class="column column-50">

                        <button class="button button-outline w-100 fs-16" (click)="onReject()">

                            <fa-icon [icon]="ignoreIcon"></fa-icon>

                        </button>

                    </div>

                </div>

            </div>

        </app-card-body>

    </app-card>

</app-dialog>
