<div class="row">

    <div class="column column-100">

        <h4>Media</h4>

    </div>

</div>

<div class="row">

    <div class="column column-20">

        Input Device:

    </div>

    <div class="column column-80">

        <select class="text" [ngModel]="selectedInputDevice"
                (ngModelChange)="onSelectedInputDeviceChange($event)">

            <option *ngFor="let device of inputDevices" [attr.value]="device.deviceId">

                {{device.label}}

            </option>

        </select>

    </div>

</div>

<div class="row">

    <div class="column column-20">

        Output Device:

    </div>
    <div class="column column-80">

        <select class="text" [ngModel]="selectedOutputDevice"
                (ngModelChange)="onSelectedOutputDeviceChange($event)">

            <option *ngFor="let device of outputDevices" [attr.value]="device.deviceId">

                {{device.label}}

            </option>

        </select>

    </div>

</div>

<div class="row">

    <div class="column column-100">

        <span class="text-danger">* Remember to give permission for the microphone in your browser's settings</span>

    </div>

</div>
