@import '../../../../../scss/theme';
@import '../../../../../scss/loader';

.add-server {
    display: flex;
    justify-content: center;
}

.add-server-card {
    max-width: 80.0rem;
    width: 100%;
}

.add-server-header {
    font-size: 30px;
    color: $accent-color;
    display: flex;
    justify-content: center;
    height: 50px;
}

