<div class="burst-container-fluid bg-secondary">

    <app-card>

        <app-card-body>

            <div class="row">

                <div class="column column-100">

                    Add a new server

                </div>

            </div>

            <br>

            <div class="row">

                <div class="column column-80">

                    <input type="text" placeholder="Server name" [disabled]="loading" [(ngModel)]="server.name">

                </div>

                <div class="column column-20">

                    <button class="button w-100" [disabled]="loading" (click)="onPost()">ADD</button>

                </div>

            </div>

        </app-card-body>

    </app-card>

</div>