@import '../../../../../scss/theme.scss';

blockquote {
    width: 430px;
}

.message-container {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    align-items: flex-start;
}

.message-container:hover {
    background-color: $dark-color;
    border-radius: 5px;
}

.message-avatar {
    width: 55px;
}

.message {
    display: flex;
    flex-direction: column;
}
