<div class="pt-20" *ngIf="fullDisplay"></div>

<div class="message-container">

    <div class="message-avatar">

        <div class="pt-4" *ngIf="fullDisplay">

            <app-avatar [name]="message.user.name" [avatar]="message.user.avatar"></app-avatar>

        </div>

    </div>

    <div>

        <div *ngIf="fullDisplay">

            <strong class="pr-5">{{message.user.name}}</strong>

            <small class="text-muted">{{message.datePosted | date:'LLL d yyyy, h:mm a'}}</small>

        </div>

        <div class="message">

            <div>

                {{message.content}}

                <small class="text-muted" *ngIf="message.edited">

                    <i>(Edited)</i>

                </small>

            </div>

            <div *ngFor="let link of message.links">

                <a [href]="link.url" target="_blank">{{link.url}}</a>

            </div>

        </div>

    </div>

</div>

