<div class="pt-20" *ngIf="fullDisplay"></div>

<div class="message-container">

    <div class="message-avatar">

        <div class="pl-5 pt-4" *ngIf="fullDisplay">

            <burst-avatar [name]="message.user.name" [avatar]="message.user.avatar"></burst-avatar>

        </div>

    </div>

    <div class="w-100">

        <div *ngIf="fullDisplay">

            <strong class="pr-5">{{message.user.name}}</strong>

            <small class="text-muted">{{message.datePosted | date:'LLL d yyyy, h:mm a'}}</small>

        </div>

        <div class="message">

            <div class="text-wrap">

                {{message.content}}

                <small class="text-muted" *ngIf="message.edited">

                    <i>(Edited)</i>

                </small>

            </div>

            <div *ngFor="let link of message.links">

                <a [href]="link.url" target="_blank">{{link.url}}</a>

            </div>

        </div>

    </div>

    <div class="message-actions">

        <div class="button-icon text border-radius-15 fs-18" (click)="onEdit()">

            <fa-icon [icon]="edit"></fa-icon>

        </div>

        <div class="button-icon text border-radius-15 fs-18" (click)="onDelete()">

            <fa-icon [icon]="delete"></fa-icon>

        </div>

    </div>

</div>
