@import '../../../../../scss/theme';
@import '../../../../../scss/background';
@import '../../../../../scss/sizing';

blockquote {
    width: 430px;
}

.message-container {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    align-items: flex-start;
}

.message-container:hover {
    background-color: $dark-color;
    border-radius: 5px;
    .message-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.message-actions {
    @extend .ml-auto;
    @extend .bg-secondary;
    position: relative;
    bottom: 15px;
    right: 30px;
    min-width: 60px;
    padding: 3px;
    border-radius: 3px;
    display: none;
}

.message-avatar {
    width: 55px;
}

.message {
    display: flex;
    flex-direction: column;
}
