@import '../../../../../scss/theme';

hr {
    border-color: $text-muted-color;
}

.viewport {
    height: calc(100vh - #{$chat-input-height} - 65px);
}

.viewport-sm {
    // height: calc(100vh - #{chat-call-height} - 65px);
    height: 200px !important;
}

.messages-container {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
