@import '../../../../../scss/theme';

hr {
    border-color: $text-muted-color;
}

.viewport {
    @extend .h-100;
    padding-top: $minor-height;
    padding-bottom: $minor-height + 25px;
}
.messages-container {
    @extend .h-100;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
