<div class="row">

    <div class="column column-100">

        Invitations                

    </div>

</div>

<div class="row">

    <div class="column column-100">

        <div class="entity-list">

            <span class="text-muted" *ngIf="invitations.length === 0">

                There are no invitations.

            </span>

            <div class="entity" *ngFor="let invite of invitations">

                <div>

                    {{invite.server.name}} <span class="text-muted">#{{invite.serverId}}</span>

                </div>

                <div class="ml-auto">

                    <button class="button button-clear" [disabled]="isProcessing(invite.id)" (click)="onAccept(invite)">ACCEPT</button>

                    <button class="button button-clear" [disabled]="isProcessing(invite.id)" (click)="onDecline(invite)">DECLINE</button>

                </div>

            </div>

        </div>

    </div>

</div>