<div id="sidebar" class="sidebar">

    <div class="sidebar-content">

        <div class="sidebar-selection">

            <burst-sidebar-selection></burst-sidebar-selection>

        </div>

        <div class="sidebar-dms" *ngIf="display === 'direct'">

            <burst-direct-messaging-list></burst-direct-messaging-list>

        </div>

        <div class="sidebar-srv" *ngIf="display === 'server'">

            <burst-server-info></burst-server-info>

            <burst-ongoing-call></burst-ongoing-call>

            <burst-channel-list></burst-channel-list>

            <burst-user-list></burst-user-list>

        </div>

        <div class="sidebar-footer">

            <div class="sidebar-user-info">

                <burst-sidebar-user-info></burst-sidebar-user-info>

            </div>

        </div>

    </div>

</div>
