<div id="sidebar" class="sidebar">

    <div class="sidebar-header fixed-top">

        <div class="sidebar-user-info">

            <app-sidebar-user-info></app-sidebar-user-info>

        </div>

    </div>
    
    <div class="sidebar-content">
        
        <div class="sidebar-selection">
            
            <app-sidebar-selection></app-sidebar-selection>
            
        </div>

        <div class="sidebar-lists" *ngIf="display === 'direct'">

            <app-direct-messaging-list></app-direct-messaging-list>

        </div>
        
        <div class="sidebar-lists" *ngIf="display === 'server'">
            
            <app-server-info></app-server-info>

            <app-channel-list></app-channel-list>

            <app-user-list></app-user-list>

        </div>

    </div>

</div>