<div class="user-info">

    <div>

        <burst-avatar [name]="user().name" [avatar]="user().avatar" size="lg"></burst-avatar>

    </div>

    <div class="pl-10">

        <div class="row">

            <div class="column column-100">

                {{user().name}} <span class="text-muted">#{{user().id}} <small class="text-muted">Joined
                        {{user().dateCreated | date}}</small></span>

            </div>

        </div>

        <div class="row">

            <div class="column column-100">

                <small class="text-muted">email: {{user().email}}</small>

            </div>

        </div>

        <div class="row">

            <div class="column column-100 fs-12">

                <a href="javascript:void(0)" (click)="onChangeAvatar()">Change picture</a>

            </div>

        </div>

    </div>

</div>

<burst-dialog [(visible)]="changeAvatarVisible">

    <burst-card>

        <burst-card-body>

            <div class="image-crop">

                <burst-image-crop (imageCropped)="onImageCropped($event)"></burst-image-crop>

            </div>

        </burst-card-body>

        <burst-card-footer>

            <div class="image-crop-actions">

                <button class="button-clear" (click)="onCancelNewAvatar()">CANCEL</button>

                <button class="button" (click)="onSaveNewAvatar()">SAVE</button>

            </div>

        </burst-card-footer>

    </burst-card>

</burst-dialog>

