@import '../../../../scss/theme';

.user-info {
    display: flex;
    flex-direction: row;
}

.image-crop {
    width: 640px;
}

.image-crop-actions {
    display: flex;
    justify-content: flex-end;
}
