@import '../../../scss/theme';
@import '../../../scss/sizing';
@import '../../../scss/text';

.expander {
    @extend .w-100;
}

.expander-header {
    @extend .pl-15;
    @extend .pr-15;
    min-height: $minor-height;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expander-header:hover {
    background-color: $dark-color;
    cursor: pointer;
}

