@import '../../../../../scss/theme';

.channel-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-container:hover {
    background-color: $dark-color;
    cursor: pointer;
}

.channel {
    padding-left: 15px;
}
