@import '../../../../../scss/theme';

.channel-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-container:hover {
    background-color: $dark-color;
    cursor: pointer;
}

.channel {
    @extend .fs-16;
    @extend .pl-10;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
