.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}

.fs-50 {
    font-size: 50px;
}

.fs-60 {
    font-size: 60px;
}

.fs-70 {
    font-size: 70px;
}

.fs-80 {
    font-size: 80px;
}

.fs-90 {
    font-size: 90px;
}

.fs-100 {
    font-size: 100px;
}
