@import 'theme';

.entity-list {
    background-color: $dark-color;
    height: 400px;
    overflow-y: auto;
    border-radius: .4rem;
    border: 1px solid $primary-color;
}

.entity {
    border-bottom: 1px solid $secondary-color;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text-color;
}

.entity:hover {
    background-color: $primary-color;
}
