// LIGHT PALETTE
// $primary-color: #EFF1F5;
// $secondary-color: #DFE4EB;
// $dark-color: #CFD6E0;
// $accent-color: #9b4dca;
// $accent-light-color: #bc5df7;
//
// $success-color: #17BB48;
// $danger-color: #CC1717;
// $warning-color: #CCA717;
//
// $blurry-color: rgba(0, 0, 0, 0.4);
//
// $text-color: black;
// $text-muted-color: #777777;
//
// $sidebar-width: 330px;
// $layout-animation-speed: 0.4s;
//
// $chat-call-height: 340px;
// $chat-input-height: 88px;
//
// $minor-height: 65px;
// $minor-width: 65px;
//
// $z-level-1: 1000;
// $z-level-2: 2000;
// $z-level-3: 3000;
// $z-level-4: 4000;

// DARK PALETTE
$primary-color: #303B4B;
$secondary-color: #2C3644;
$dark-color: #28313E;
$accent-color: #9b4dca;
$accent-light-color: #bc5df7;

$success-color: #7fefa0;
$danger-color: #ef7070;
$warning-color: #efd670;

$blurry-color: rgba(0, 0, 0, 0.4);

$text-color: white;
$text-muted-color: #777777;

$sidebar-width: 330px;
$layout-animation-speed: 0.4s;

$chat-call-height: 340px;
$chat-input-height: 88px;

$minor-height: 65px;
$minor-width: 65px;

$z-level-1: 1000;
$z-level-2: 2000;
$z-level-3: 3000;
$z-level-4: 4000;
