@import '../../../scss/theme';

$minor-width: 90px;

.sidebar {
    position: fixed !important;
    overflow: auto;
    height: 100%;
    width: $sidebar-width;
    transform: translateX(0);
    z-index: 1;
    background-color: $secondary-color;
    -webkit-transition: transform $layout-animation-speed;
    transition: transform $layout-animation-speed;
}

.sidebar-hidden {
    transform: translateX(calc($sidebar-width * -1));
}

.sidebar-header {
    position: fixed !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
}

.sidebar-logo {
    text-align: center;
    font-size: 22px;
    background-color: $accent-color;
    height: 55px;
    width: $minor-width;
    padding-top: 10px;
}

.sidebar-title {
    background-color: $accent-light-color;
    font-size: 22px;
    font-weight: 600;
    height: 55px;
    padding-top: 10px;    
    padding-left: 20px;
    flex-grow: 9;
}

.sidebar-content {
    height: 100%;
    padding-top: 55px;
    display: flex;
    flex-direction: row;
}

.sidebar-servers {
    background-color: $dark-color;
    height: 100%;
    width: $minor-width;
}

.sidebar-users {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}