<div id="sidebar" class="sidebar">

    <div class="sidebar-header">

        <div>

            <fa-icon class="sidebar-logo" icon="dragon"></fa-icon>

        </div>

        <h3>Burst Chat</h3>

    </div>

    <div class="sidebar-content">

        <div class="row sidebar-user-list">

            <div class="column column-20">

                <fa-icon class="user-avatar" icon="smile"></fa-icon>

            </div>

            <div class="column column-80">

                hoodi

            </div>

        </div>

    </div>

</div>