@import '../../../../../scss/theme';
@import '../../../../../scss/font';
@import '../../../../../scss/sizing';

.channel-container {
    @extend .pl-35;
    @extend .pr-15;
    min-height: $minor-height;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-container:hover {
    background-color: $dark-color;
    cursor: pointer;
}

.channel {
    @extend .fs-16;
    @extend .pl-10;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
