<div class="chat-info" *ngIf="options">

    <div class="fs-10 pl-20 pr-10">

        <fa-icon [icon]="icon"></fa-icon>

    </div>

    <div class="fs-18">

        {{options.name}}

    </div>

    <div class="chat-info-actions ml-auto">

        <div class="button-icon text mr-10" *ngIf="canCall" (click)="onCallClick()">

            <fa-icon [icon]="callIcon"></fa-icon>

        </div>

        <div class="button-icon text mr-10" *ngIf="canCall" (click)="onCallClick()">

            <fa-icon [icon]="videoIcon"></fa-icon>

        </div>

        <div class="mr-10">

            <input type="text" placeholder="Search" />

        </div>

        <div class="button-icon text mr-10">

            <fa-icon [icon]="helpIcon"></fa-icon>

        </div>

    </div>

    <div class="ml-auto pr-5" *ngIf="displayGoToCall">

        <button class="button my-auto" (click)="onToggleLayout('call')">Go to call</button>

    </div>

    <div class="ml-auto pr-5" *ngIf="displayGoToChat">

        <button class="button my-auto" (click)="onToggleLayout('chat')">Go to chat</button>

    </div>

</div>
