@import '../../../../../scss/theme';

input {
    margin: 0 0 0 0;
}

.chat-info {
    background-color: $secondary-color;
    border-bottom: 1px solid $dark-color;
    position: fixed !important;
    left: $sidebar-width !important;
    right: 0 !important;
    height: $minor-height;
    z-index: $z-level-2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-info-actions {
    display: flex;
    align-items: center;
}

.chat-call-dialog {
    height: 300px;
    width: 400px;
}
