@import '../../../../../scss/theme.scss';

blockquote {
    width: 430px;
}

.message {
    display: flex;
    flex-direction: row;
}

.message-content {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}