@import '../../../../../scss/theme.scss';

blockquote {
    width: 430px;
}

.message-height {
    height: 70px;
}

.cluster {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.message {
    display: flex;
    flex-direction: column;
}
