<div class="bubble">

    <div class="row">

        <div class="column column-100">

            <div>

                <strong>{{messageCluster.user.name}}</strong>

                <small class="message-date-posted text-muted">{{messageCluster.datePosted | date}}</small>

            </div>

            <div *ngFor="let message of messageCluster.messages">

                <small class="message-date-posted text-muted">[{{message.datePosted | date:'shortTime'}}]</small>

                {{message.content}}

                <span *ngFor="let link of message.links">

                    <a [attr.href]="link.url" target="_blank">{{link.url}}</a>

                </span>

                <small *ngIf="message.edited">

                    <i>(Edited)</i>

                </small>

            </div>

        </div>

    </div>

</div>