<div class="row">

    <div class="column column-100 cluster">

        <div>

            <i class="lni-user fs-20 pr-10 text-success"></i>

        </div>

        <div>

            <div>
    
                <strong class="pr-5">{{messageCluster.user.name}}</strong>
                
                <small class="text-muted">{{messageCluster.datePosted | date:'LLL d yyyy, h:mm a'}}</small>
    
            </div>
    
            <div class="message" *ngFor="let message of messageCluster.messages">
    
                <div>
    
                    {{message.content}}
    
                    <small class="text-muted" *ngIf="message.edited">
    
                        <i>(Edited)</i>
    
                    </small>
    
                </div>
    
                <div *ngFor="let link of message.links">
    
                    <a [href]="link.url" target="_blank">{{link.url}}</a>
    
                </div>
    
            </div>

        </div>

    </div>

</div>