@import '../../../../../scss/theme';

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
}

.avatar-lg {
    width: 55px;
    height: 55px;
    font-size: 34px;
}
