@import '../../../../../scss/theme';

.button-clear {
    color: white;
}

.button-clear:hover {
    background-color: $accent-color;
    color: white;
}

.user-info {
    background-color: $accent-color;
    height: 55px;
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    align-items: center;    
}

.user-logo {
    font-size: 26px;
    padding-right: 6px;
}

.user-name {
    font-size: 18px;
}

.user-id {
    font-size: 14px;
    padding-left: 5px;
}
