<burst-dialog [visible]="dialogVisible()">
    @if(user) {
        <burst-card>
            <burst-card-header>
                <div class="avatar">
                    <burst-avatar [name]="user.name" [avatar]="user.avatar" size="xlg"/>
                </div>
            </burst-card-header>
            <burst-card-body>
                <div class="dialog-size">
                    <div class="row">
                        <div class="column text-center">
                            {{user.name}} is calling...
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="column column-50">
                            <button class="button btn-success w-100 fs-16" (click)="onAnswer()">
                                <fa-icon [icon]="answerIcon"></fa-icon>
                            </button>
                        </div>
                        <div class="column column-50">
                            <button class="button button-outline w-100 fs-16" (click)="onReject()">
                                <fa-icon [icon]="ignoreIcon"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </burst-card-body>
        </burst-card>
    }
</burst-dialog>
