<div class="user-info">
    <div class="user-logo pl-10 pr-5">
        <burst-avatar [name]="name" [avatar]="avatar"></burst-avatar>
    </div>
    @if(user.name) {
        <div class="user-name">{{user.name}}</div>
    }
    @if(user.id) {
        <div class="user-id">#{{user.id}}</div>
    }
    <div class="user-actions">
        <div class="button-icon text" (click)="onEditUser()">
            <fa-icon [icon]="cog"></fa-icon>
        </div>
        <div class="button-icon text" (click)="onLogout()">
            <fa-icon [icon]="signOut"></fa-icon>
        </div>
    </div>
</div>
