@import '../../../../../scss/theme';
@import '../../../../../scss/font';
@import '../../../../../scss/sizing';

.user-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-container:hover {
    background-color: $dark-color;
    cursor: pointer;
}

.user {
    @extend .fs-16;
    @extend .pl-10;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
