<div class="row">
    <div class="column">
        <h4>Channels</h4>
    </div>
</div>
<div class="row">
    <div class="column column-80">
        <input type="text" placeholder="Name" [(ngModel)]="newChannelName">
    </div>
    <div class="column column-20">
        <button class="button w-100" (click)="onAddChannel()">Add</button>
    </div>
</div>
<div class="row">
    <div class="column column-100">
        <div class="entity-list">
            @for(channel of server().channels; track channel.id; let i = $index) {
                <div class="entity">
                    <div>
                        {{channel.name}} <span class="text-muted">#{{channel.id}} <small>Created at
                                {{channel.dateCreated | date}}</small></span>
                    </div>
                    <div class="ml-auto">
                        <button class="button button-clear" (click)="onDeleteChannel(channel)">DELETE</button>
                    </div>
                </div>
            } @empty {
                <span class="text-muted">
                    There are no channels on this server. Why dont you make one?
                </span>
            }
        </div>
    </div>
</div>
