<div class="h-100" *ngIf="!noChatFound">

    <burst-chat-info [options]="options"></burst-chat-info>

    <div class="direct-chat-content" *ngIf="layoutState === 'chat'">

        <burst-chat-messages [options]="options"></burst-chat-messages>

    </div>

    <burst-chat-input [options]="options" *ngIf="layoutState === 'chat'"></burst-chat-input>

    <div class="h-100" *ngIf="layoutState === 'call'">

        <burst-chat-call [options]="options"></burst-chat-call>

    </div>

</div>

<div *ngIf="noChatFound"></div>
