<div class="row">
    <div class="column column-100">
        <h4>Invitations</h4>
    </div>
</div>
<div class="row">
    <div class="column column-100">
        <div class="entity-list">
            @if(invitations.length === 0) {
                <span class="text-muted">
                    There are no invitations.
                </span>
            }
            @for(invite of invitations; track invite.id) {
                <div class="entity">
                    <div>
                        {{invite.server.name}} <span class="text-muted">#{{invite.serverId}}</span>
                    </div>
                    <div class="ml-auto">
                        <button class="button button-clear" [disabled]="isProcessing(invite.id)" (click)="onAccept(invite)">ACCEPT</button>
                        <button class="button button-clear" [disabled]="isProcessing(invite.id)" (click)="onDecline(invite)">DECLINE</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
