<div class="row">

    <div class="column column-100">

        <h4>Users</h4>

    </div>

</div>

<div class="row">

    <div class="column column-80">

        <input type="text" placeholder="Name" [(ngModel)]="newUserName">

    </div>

    <div class="column column-20">

        <button class="button w-100" (click)="onInvite()">INVITE</button>

    </div>

</div>

<div class="row">

    <div class="column column-100">

        <div class="entity-list">

            <div class="text-muted" *ngIf="users.length === 0">

                <span class="text-muted">Could not load users of server.</span>

            </div>

            <div class="entity" *ngFor="let user of users">

                <div>

                    {{user.name}} <span class="text-muted">#{{user.id}}</span>

                </div>

                <div class="ml-auto">

                    <button class="button button-clear" (click)="onDeleteUser(user)">DELETE</button>

                </div>

            </div>

        </div>

    </div>

</div>
