@import '../../../../../scss/theme';

.messages-container {
    @extend .burst-container-fluid;
    padding-top: $minor-height + 10px;
    padding-bottom: $minor-height + 15px;
    padding-left: 20px;
    padding-right: 20px;
}