<div class="viewport">

        <cdk-virtual-scroll-viewport class="h-100" itemSize="100" (scrolledIndexChange)="onScrolledIndexChanged($event)">

                <div class="messages-container">

                    <div *cdkVirtualFor="let cluster of messages">

                        <app-chat-message [messageCluster]="cluster"></app-chat-message>

                        <br>

                    </div>

                    <span class="text-muted" *ngIf="chatIsEmpty">No messages posted yet!</span>

                </div>

        </cdk-virtual-scroll-viewport>

</div>
