<div class="chat-call-container">
    @if(state === 'waiting') {
        <div class="chat-call-loading my-auto">
            <div class="chat-call-loading-dot my-auto">
                <div class="fs-20">Calling, please wait</div>
                <div class="loading-dots text-center">
                    <div class="loading-dots--dot"></div>
                    <div class="loading-dots--dot"></div>
                    <div class="loading-dots--dot"></div>
                </div>
            </div>
        </div>
    }
    @if(state === 'confirmed') {
        <div class="chat-call-users">
            @for(user of users; track user.id) {
                <div class="pr-20 pl-20 pt-5 pb-5 mx-auto my-auto">
                    <burst-card>
                        <burst-card-header>
                            <div class="text-center">
                                <burst-avatar [name]="user.name" [avatar]="user.avatar" size="xlg"></burst-avatar>
                            </div>
                        </burst-card-header>
                        <burst-card-body>
                            <div class="text-center">
                                {{user.name}}
                            </div>
                        </burst-card-body>
                    </burst-card>
                </div>
            }
        </div>
    }
    <div class="chat-call-actions pr-10 pl-10 pt-10 pb-10">
        @if(state === 'waiting' || state === 'confirmed') {
            <button class="button" (click)="onHangup()">
                <fa-icon [icon]="icons['hangup']"></fa-icon> End call
            </button>
        }
    </div>
</div>
